<div>
    <h1>Claim</h1>
    <label class="btn btn-sm btn-primary file-uploader" [class.disabled]='isLoading || loaded'>
        <input type="file" (change)='onFileSelected($event)' onclick='this.value=null' [disabled]='isLoading || loaded' />
        <div class="loader-container-small" *ngIf='isLoading || loaded'>
            <div class="loader"></div>
        </div>
        <div class="progress-bar" *ngIf='isLoading || loaded' [style.width]="progress + '%'"></div>
        <span>Upload video</span>
    </label>
    <br/>
    <br/>
    <div class="row">
        <div class="video-preview" *ngIf='videoUploaded'>
            <h1>Video AI</h1>
            <div style='width: 300px; background-color: #ccc; height: 20px;'>
                <div class="progress-bar" *ngIf='videoUploaded' [style.width]='videoProcessProgress'>
                    {{videoProcessStatus}}... ({{videoProcessProgress ? videoProcessProgress : '0%'}})
                </div>
            </div>
            <img *ngIf='videoUrl' [src]='videoUrl' width="300" height="200" />
        </div>
        <div class="video-results col-ms-3" *ngIf='videoUploaded'>
            <div *ngFor="let tag of videoTags;">{{ tag }}</div>
        </div>
        <div class="image-results col-ms-3" *ngIf='imageProcessed'>
            <h1>Image AI</h1>
            <h6>Captions</h6>
            <div *ngFor="let caption of imageCaptions;">{{ caption }}</div>
            <h6>Categories</h6>
            <div *ngFor="let cat of imageCategories;">{{ cat }}</div>
            <h6>Tags</h6>
            <div *ngFor="let tag of imageTags;">{{ tag }}</div>
        </div>
    </div>
</div>